## GENERAL FILE EXTENSIONS
*-tar
*.jar
*.jar.original
*.deb
*.exec
*.run
/java_postgres/app/application.properties

## SPECIFIC FILES
/java_postgres/postgres/PostgresSQL/

## GENERAL DIR
node_modules/
.idea/
trash
