[Unit]
Description=Gunicorn instance to serve App2
After=network.target

[Service]
User=jereelton
Group=jereelton
WorkingDirectory=/home/python3/applications/app2
Environment="PATH=/home/python3/applications/app2/app2env/bin"
ExecStart=/home/python3/applications/app2/app2env/bin/gunicorn --workers 3 --bind unix:app2.sock -m 007 wsgi:app

[Install]
WantedBy=multi-user.target
