version: "3.7"
services:

    #----------------------------------------------------------------------------------------
    zookeeper-7.6.0-prod-simulation:
        image: confluentinc/cp-zookeeper:7.6.0
        container_name: zookeeper-7.6.0-prod-simulation
        ports:
            - "2181:2181"
        environment:
            #ALLOW_ANONYMOUS_LOGIN: "yes"
            ZOOKEEPER_CLIENT_PORT: 2181
            ZOOKEEPER_TICK_TIME: 2000

            ### => Security
            ZOOKEEPER_AUTH_PROVIDER_SASL: org.apache.zookeeper.server.auth.SASLAuthenticationProvider
            ZOOKEEPER_REQUIRE_CLIENT_AUTH_SCHEME: SASL
            JVMFLAGS: "-Djava.security.auth.login.config=/etc/zookeeper/secrets/zookeeper_jaas.conf"
            JAVA_TOOL_OPTIONS: "-Djava.security.auth.login.config=/etc/zookeeper/secrets/zookeeper_jaas.conf"
        volumes:
            - ./security/secrets:/etc/zookeeper/secrets:ro
        networks:
            - default
            - open_network
    #----------------------------------------------------------------------------------------
    kafka-7.6.0-prod-simulation:
        image: confluentinc/cp-kafka:7.6.0
        container_name: kafka-7.6.0-prod-simulation
        ports:
            - "29092:29092"
            - "9092:9092"
        environment:
            ### => Broker settings
            KAFKA_BROKER_ID: 1
            KAFKA_ZOOKEEPER_SET_ACL: "true"
            KAFKA_ZOOKEEPER_CONNECT: zookeeper-7.6.0-prod-simulation:2181

            ### => Authentication Implements => SASL/PLAIN
            KAFKA_LISTENERS: INTERNAL://0.0.0.0:9092,EXTERNAL://0.0.0.0:29092
            KAFKA_ADVERTISED_LISTENERS: INTERNAL://kafka-7.6.0-prod-simulation:9092,EXTERNAL://0.0.0.0:29092
            KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: INTERNAL:SASL_SSL,EXTERNAL:SASL_SSL
            KAFKA_INTER_BROKER_LISTENER_NAME: INTERNAL

            ### => SSL Settings
            KAFKA_SSL_ENDPOINT_IDENTIFICATION_ALGORITHM: ""
            KAFKA_SSL_KEYSTORE_LOCATION: /etc/kafka/secrets/broker.keystore.jks
            KAFKA_SSL_KEYSTORE_PASSWORD: changeit
            KAFKA_SSL_KEY_PASSWORD: changeit
            KAFKA_SSL_TRUSTSTORE_LOCATION: /etc/kafka/secrets/broker.truststore.jks
            KAFKA_SSL_TRUSTSTORE_PASSWORD: changeit
            KAFKA_SSL_KEYSTORE_TYPE: JKS
            KAFKA_SSL_TRUSTSTORE_TYPE: JKS

            ### => Define the mechanism of authentication SASL
            KAFKA_SASL_ENABLED_MECHANISMS: PLAIN
            KAFKA_SASL_MECHANISM_INTER_BROKER_PROTOCOL: PLAIN

            ### => Create users
            KAFKA_OPTS: "-Djava.security.auth.login.config=/etc/kafka/secrets/server_jaas.conf"
            JAVA_TOOL_OPTIONS: "-Djava.security.auth.login.config=/etc/kafka/secrets/server_jaas.conf"

            ### => Credentials
            CUSTOM_KAFKA_DEFAULT_USER: kafka
            CUSTOM_KAFKA_DEFAULT_PASS: admin_secret
            CUSTOM_KAFKA_DEFAULT_APP_USER: appuser_secret
        privileged: true
        tty: true
        volumes:
            - ./security/secrets:/etc/kafka/secrets:ro
        depends_on:
            - zookeeper-7.6.0-prod-simulation
        networks:
            - default
            - open_network
    #----------------------------------------------------------------------------------------
    kafka-ui-0.7.2-prod-simulation:
        image: provectuslabs/kafka-ui:v0.7.2
        container_name: kafka-ui-0.7.2-prod-simulation
        ports:
            - "38282:8080"
        environment:
            KAFKA_CLUSTERS_0_NAME: local-sasl-ssl
            KAFKA_CLUSTERS_0_BOOTSTRAP_SERVERS: kafka-7.6.0-prod-simulation:9092
            KAFKA_CLUSTERS_0_ZOOKEEPER: zookeeper-7.6.0-prod-simulation:2181

            ### => SASL credentials
            KAFKA_CLUSTERS_0_PROPERTIES_SECURITY_PROTOCOL: SASL_SSL
            KAFKA_CLUSTERS_0_PROPERTIES_SASL_MECHANISM: PLAIN
            KAFKA_CLUSTERS_0_PROPERTIES_SASL_JAAS_CONFIG: org.apache.kafka.common.security.plain.PlainLoginModule required username="kafka" password="admin_secret";
            KAFKA_CLUSTERS_0_PROPERTIES_SSL_TRUSTSTORE_LOCATION: /etc/kafka/secrets/broker.truststore.jks
            KAFKA_CLUSTERS_0_PROPERTIES_SSL_TRUSTSTORE_PASSWORD: changeit

            ### => Form Login Authentication
            AUTH_TYPE: LOGIN_FORM
            SPRING_SECURITY_USER_NAME: admin
            SPRING_SECURITY_USER_PASSWORD: changeit
        privileged: true
        tty: true
        volumes:
            - ./security/secrets:/etc/kafka/secrets:ro
        depends_on:
            - kafka-7.6.0-prod-simulation
            - zookeeper-7.6.0-prod-simulation
        networks:
            - default
            - open_network
    #----------------------------------------------------------------------------------------

networks:
    open_network:
        external: true


