[Unit]
Description=APPLICATION-NAME-ENVIRONMENT.service
After=network-online.target

[Service]
Type=simple
WorkingDirectory=/var/opt/${USER}/APPLICATION-NAME
ExecStart=/usr/bin/java -jar /opt/${USER}/APPLICATION-NAME/APPLICATION-NAME.jar --spring.config.location=/etc/opt/${USER}/APPLICATION-NAME/application.properties
Restart=on-abort
User=${USER}
Group=${USER}

[Install]
WantedBy=multi-user.target
