version: "3.7"
services:

    #----------------------------------------------------------------------------------------
    zookeeper-7.6.0:
        env_file: .env
        image: confluentinc/cp-zookeeper:7.6.0
        container_name: zookeeper-7.6.0
        ports:
            - ${CUSTOM_ZOOKEEPER_PORT}:2181
        environment:
            ALLOW_ANONYMOUS_LOGIN: "yes"
            ZOOKEEPER_CLIENT_PORT: 2181
            ZOOKEEPER_TICK_TIME: 2000
        volumes:
            - zookeeper_vol:/bitnami
            - ./shared/:/home/shared/
        networks:
            - default
            - open_network
    #----------------------------------------------------------------------------------------
    kafka-7.6.0:
        env_file: .env
        image: confluentinc/cp-kafka:7.6.0
        container_name: kafka-7.6.0
        ports:
            - ${CUSTOM_KAFKA_PORT}:9092
            - ${CUSTOM_KAFKA_EXTERNAL_PORT}:9094
        environment:
            KAFKA_BROKER_ID: 1
            KAFKA_ZOOKEEPER_CONNECT: zookeeper-7.6.0:2181
            KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka-7.6.0:9092,EXTERNAL://localhost:9094
            KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,EXTERNAL:PLAINTEXT
            KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,EXTERNAL://0.0.0.0:9094
            KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
        privileged: true
        tty: true
        volumes:
            - kafka_vol:/bitnami
            - ./shared/:/home/shared/
        depends_on:
            - zookeeper-7.6.0
        networks:
            - default
            - open_network
    #----------------------------------------------------------------------------------------
    kafka-ui-0.7.2:
        env_file: .env
        image: provectuslabs/kafka-ui:v0.7.2
        container_name: kafka-ui-0.7.2
        ports:
            - ${CUSTOM_KAFKA_UI_PORT}:8080
        environment:
            KAFKA_CLUSTERS_0_NAME: local
            KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka-7.6.0:9092
            KAFKA_CLUSTERS_0_ZOOKEEPER: zookeeper-7.6.0:2181
            KAFKA_CLUSTERS_0_BOOTSTRAP_SERVERS: kafka-7.6.0:9094
        privileged: true
        tty: true
        volumes:
            - kafka_ui_vol:/kafka-ui/
            - ./shared/:/home/shared/
        depends_on:
            - kafka-7.6.0
            - zookeeper-7.6.0
        networks:
            - default
            - open_network
    #----------------------------------------------------------------------------------------

networks:
    open_network:
        external: true

volumes:
    kafka_vol:
    kafka_ui_vol:
    zookeeper_vol:

