version: "3.7"
services:

    #----------------------------------------------------------------------------------------
    zookeeper-7.6.0-v2-security:
        env_file: .env
        image: confluentinc/cp-zookeeper:7.6.0
        hostname: zookeeper-7.6.0-v2-security
        container_name: zookeeper-7.6.0-v2-security
        ports:
            - ${CUSTOM_ZOOKEEPER_PORT}:2181
        environment:
            #ALLOW_ANONYMOUS_LOGIN: "yes"
            ZOOKEEPER_CLIENT_PORT: 2181
            ZOOKEEPER_TICK_TIME: 2000

            ### => Security
            ZOOKEEPER_AUTH_PROVIDER_SASL: org.apache.zookeeper.server.auth.SASLAuthenticationProvider
            #ZOOKEEPER_REQUIRE_CLIENT_AUTH_SCHEME: SASL
            JVMFLAGS: "-Djava.security.auth.login.config=/etc/zookeeper/zookeeper_jaas.conf"
            JAVA_TOOL_OPTIONS: "-Djava.security.auth.login.config=/etc/zookeeper/zookeeper_jaas.conf"
        privileged: true
        tty: true
        volumes:
            - zookeeper-7.6.0-v2_vol:/zookeeper/
            - ./shared/zookeeper/:/home/shared/
            - ./security/zookeeper_jaas.conf:/etc/zookeeper/zookeeper_jaas.conf
        networks:
            default:
            open_network:
            internal_network:
                ipv4_address: ${ZOOKEEPER_IP}
    #----------------------------------------------------------------------------------------
    kafka-7.6.0-v2-security:
        env_file: .env
        image: confluentinc/cp-kafka:7.6.0
        hostname: kafka-7.6.0-v2-security
        container_name: kafka-7.6.0-v2-security
        ports:
            - ${CUSTOM_KAFKA_PORT}:29092
            - ${CUSTOM_KAFKA_EXTERNAL_PORT}:9092
            - ${CUSTOM_KAFKA_JMX_PORT}:9101
        environment:
            ### => Broker settings
            KAFKA_BROKER_ID: 1
            KAFKA_ZOOKEEPER_SET_ACL: "true"
            KAFKA_ZOOKEEPER_CONNECT: 'zookeeper-7.6.0-v2-security:2181'

            ### => Authentication Implements => SASL/PLAIN
            KAFKA_LISTENERS: SASL_PLAINTEXT://0.0.0.0:29092,EXTERNAL://0.0.0.0:9092
            KAFKA_ADVERTISED_LISTENERS: SASL_PLAINTEXT://kafka-7.6.0-v2-security:29092,EXTERNAL://${CUSTOM_KAFKA_ADVERTISED_HOST:-localhost}:${CUSTOM_KAFKA_EXTERNAL_PORT}
            KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: SASL_PLAINTEXT:SASL_PLAINTEXT,EXTERNAL:SASL_PLAINTEXT
            KAFKA_INTER_BROKER_LISTENER_NAME: SASL_PLAINTEXT

            ### => Define the mechanism of authentication SASL
            KAFKA_SASL_ENABLED_MECHANISMS: PLAIN
            KAFKA_SASL_MECHANISM_INTER_BROKER_PROTOCOL: PLAIN

            ### => Create users
            KAFKA_OPTS: "-Djava.security.auth.login.config=/etc/kafka/server_jaas.conf"
            JAVA_TOOL_OPTIONS: "-Djava.security.auth.login.config=/etc/kafka/server_jaas.conf"

            ### => Credentials
            CUSTOM_KAFKA_DEFAULT_USER: ${CUSTOM_KAFKA_DEFAULT_USER}
            CUSTOM_KAFKA_DEFAULT_PASS: ${CUSTOM_KAFKA_DEFAULT_PASS}
            CUSTOM_KAFKA_DEFAULT_APP_USER: ${CUSTOM_KAFKA_DEFAULT_APP_USER}

            ### => Zookeeper SASL settings
            KAFKA_ZOOKEEPER_SASL_ENABLED: "true"
            KAFKA_ZOOKEEPER_SASL_CLIENT: "true"
            KAFKA_ZOOKEEPER_SASL_CLIENT_USERNAME: ${CUSTOM_KAFKA_DEFAULT_USER}
            KAFKA_ZOOKEEPER_SASL_CLIENT_PASSWORD: ${CUSTOM_KAFKA_DEFAULT_PASS}
            KAFKA_ZOOKEEPER_SASL_CLIENT_LOGIN_CONTEXT: "Client"

            # Other settings
            KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
            KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
            KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
            KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
            KAFKA_JMX_PORT: 9101
        privileged: true
        tty: true
        volumes:
            - kafka-7.6.0-v2_vol:/kafka/
            - ./shared/kafka/:/home/shared/
            - ./security/server_jaas.conf:/etc/kafka/server_jaas.conf
            #- ./props/server.properties:/etc/kafka/server.properties
        depends_on:
            - zookeeper-7.6.0-v2-security
        networks:
            default:
            open_network:
            internal_network:
                ipv4_address: ${KAFKA_IP}
    #----------------------------------------------------------------------------------------
    schema-registry-7.6.0-v2-security:
        env_file: .env
        image: confluentinc/cp-schema-registry:7.6.0
        hostname: schema-registry-7.6.0-v2-security
        container_name: schema-registry-7.6.0-v2-security
        ports:
            - ${CUSTOM_KAFKA_SCHEMA_REGISTRY_PORT}:8081
        environment:
            SCHEMA_REGISTRY_HOST_NAME: schema-registry-7.6.0-v2-security
            SCHEMA_REGISTRY_KAFKASTORE_BOOTSTRAP_SERVERS: 'SASL_PLAINTEXT://kafka-7.6.0-v2-security:29092'
            SCHEMA_REGISTRY_KAFKASTORE_SECURITY_PROTOCOL: SASL_PLAINTEXT
            SCHEMA_REGISTRY_KAFKASTORE_SASL_MECHANISM: PLAIN
            SCHEMA_REGISTRY_KAFKASTORE_SASL_JAAS_CONFIG: >
                org.apache.kafka.common.security.plain.PlainLoginModule required
                username="${CUSTOM_KAFKA_DEFAULT_USER}" password="${CUSTOM_KAFKA_DEFAULT_PASS}";

            KAFKA_OPTS: "-Djava.security.auth.login.config=/etc/kafka/client_jaas.conf"
            JAVA_TOOL_OPTIONS: "-Djava.security.auth.login.config=/etc/kafka/client_jaas.conf"
        privileged: true
        tty: true
        volumes:
            - schema-registry-7.6.0-v2_vol:/kafka/
            - ./security/client_jaas.conf:/etc/kafka/client_jaas.conf
            - ./shared/schema/:/home/shared/
        depends_on:
            - zookeeper-7.6.0-v2-security
            - kafka-7.6.0-v2-security
        networks:
            default:
            open_network:
            internal_network:
                ipv4_address: ${SCHEMA_REGISTRY_IP}
    #----------------------------------------------------------------------------------------
#    rest-proxy-7.6.0-v2-security:
#        env_file: .env
#        image: confluentinc/cp-kafka-rest:7.6.0
#        ports:
#            - ${CUSTOM_KAFKA_REST_PROXY_PORT}:8082
#        hostname: rest-proxy-7.6.0-v2-security
#        container_name: rest-proxy-7.6.0-v2-security
#        environment:
#            KAFKA_REST_HOST_NAME: rest-proxy-7.6.0-v2-security
#            KAFKA_REST_BOOTSTRAP_SERVERS: 'SASL_PLAINTEXT://kafka-7.6.0-v2-security:29092'
#            KAFKA_REST_LISTENERS: "http://0.0.0.0:8082"
#            KAFKA_REST_SCHEMA_REGISTRY_URL: 'http://schema-registry-7.6.0-v2-security:8081'
#            KAFKA_REST_KAFKA_CLIENT_SECURITY_PROTOCOL: SASL_PLAINTEXT
#            KAFKA_REST_KAFKA_CLIENT_SASL_MECHANISM: PLAIN
#            KAFKA_REST_KAFKA_CLIENT_SASL_JAAS_CONFIG: >
#                org.apache.kafka.common.security.plain.PlainLoginModule required
#                username="${CUSTOM_KAFKA_DEFAULT_USER}" password="${CUSTOM_KAFKA_DEFAULT_PASS}";
#
#            KAFKA_OPTS: "-Djava.security.auth.login.config=/etc/kafka/client_jaas.conf"
#            JAVA_TOOL_OPTIONS: "-Djava.security.auth.login.config=/etc/kafka/client_jaas.conf"
#        privileged: true
#        tty: true
#        volumes:
#            - rest-proxy-7.6.0-v2_vol:/var/lib/kafka-rest/data
#            - ./security/client_jaas.conf:/etc/kafka/client_jaas.conf
#            - ./shared/rest/:/home/shared/
#        depends_on:
#            - zookeeper-7.6.0-v2-security
#            - kafka-7.6.0-v2-security
#            - schema-registry-7.6.0-v2-security
#        networks:
#            default:
#            open_network:
#            internal_network:
#                ipv4_address: ${REST_PROXY_IP}
    #----------------------------------------------------------------------------------------
#    control-center-7.6.0-v2-security:
#        env_file: .env
#        image: confluentinc/cp-enterprise-control-center:7.6.0
#        hostname: control-center-7.6.0-v2-security
#        container_name: control-center-7.6.0-v2-security
#        ports:
#            - ${CUSTOM_KAFKA_CONTROL_CENTER_PORT}:9021
#        environment:
#            CONTROL_CENTER_BOOTSTRAP_SERVERS: SASL_PLAINTEXT://kafka-7.6.0-v2-security:29092
#            CONTROL_CENTER_ZOOKEEPER_CONNECT: zookeeper-7.6.0-v2-security:2181
#            CONTROL_CENTER_SCHEMA_REGISTRY_URL: http://schema-registry-7.6.0-v2-security:8081
#            CONTROL_CENTER_REPLICATION_FACTOR: 1
#            CONTROL_CENTER_INTERNAL_TOPICS_PARTITIONS: 1
#            CONTROL_CENTER_MONITORING_INTERCEPTOR_TOPIC_PARTITIONS: 1
#            CONFLUENT_METRICS_TOPIC_REPLICATION: 1
#            PORT: 9021
#
#            ### => SASL credentials
#            KAFKA_CLUSTERS_0_PROPERTIES_SECURITY_PROTOCOL: SASL_PLAINTEXT
#            KAFKA_CLUSTERS_0_PROPERTIES_SASL_MECHANISM: PLAIN
#            KAFKA_CLUSTERS_0_PROPERTIES_SASL_JAAS_CONFIG: >
#                org.apache.kafka.common.security.plain.PlainLoginModule required
#                username="${CUSTOM_KAFKA_DEFAULT_USER}" password="${CUSTOM_KAFKA_DEFAULT_PASS}";
#
#            KAFKA_CLUSTERS_0_BOOTSTRAP_SERVERS: SASL_PLAINTEXT://kafka-7.6.0-v2-security:29092
#            KAFKA_CLUSTERS_0_ZOOKEEPER: zookeeper-7.6.0-v2-security:2181
#
#            KAFKA_OPTS: "-Djava.security.auth.login.config=/etc/kafka/client_jaas.conf"
#            CONTROL_CENTER_OPTS: "-Djava.security.auth.login.config=/etc/kafka/client_jaas.conf"
#            JAVA_TOOL_OPTIONS: "-Djava.security.auth.login.config=/etc/kafka/client_jaas.conf"
#        privileged: true
#        tty: true
#        volumes:
#            - control-center-7.6.0-v2_vol:/kafka-ui/
#            - ./security/client_jaas.conf:/etc/kafka/client_jaas.conf
#            - ./shared/control/:/home/shared/
#        depends_on:
#            - zookeeper-7.6.0-v2-security
#            - kafka-7.6.0-v2-security
#            - schema-registry-7.6.0-v2-security
#        networks:
#            default:
#            open_network:
#            internal_network:
#                ipv4_address: ${CONTROL_CENTER_IP}
    #----------------------------------------------------------------------------------------
    kafka-ui-0.7.2-v2-security:
        env_file: .env
        image: provectuslabs/kafka-ui:v0.7.2
        container_name: kafka-ui-0.7.2-v2-security
        ports:
            - ${CUSTOM_KAFKA_UI_PORT}:8080
        environment:
            KAFKA_CLUSTERS_0_NAME: local
            KAFKA_CLUSTERS_0_BOOTSTRAP_SERVERS: SASL_PLAINTEXT://kafka-7.6.0-v2-security:29092
            KAFKA_CLUSTERS_0_ZOOKEEPER: zookeeper-7.6.0-v2-security:2181

            ### => SASL credentials
            KAFKA_CLUSTERS_0_PROPERTIES_SECURITY_PROTOCOL: SASL_PLAINTEXT
            KAFKA_CLUSTERS_0_PROPERTIES_SASL_MECHANISM: PLAIN
            KAFKA_CLUSTERS_0_PROPERTIES_SASL_JAAS_CONFIG: > 
                org.apache.kafka.common.security.plain.PlainLoginModule required 
                username="${CUSTOM_KAFKA_DEFAULT_USER}" password="${CUSTOM_KAFKA_DEFAULT_PASS}";

            ### => Form Login Authentication
            AUTH_TYPE: LOGIN_FORM
            SPRING_SECURITY_USER_NAME: ${CUSTOM_KAFKA_UI_LOGIN_USER}
            SPRING_SECURITY_USER_PASSWORD: ${CUSTOM_KAFKA_UI_LOGIN_PASS}
        privileged: true
        tty: true
        volumes:
            - kafka-ui-0.7.2_vol_security:/kafka-ui/
            - ./shared/:/home/shared/
        depends_on:
            - kafka-7.6.0-v2-security
            - zookeeper-7.6.0-v2-security
        networks:
            default:
            open_network:
            internal_network:
                ipv4_address: ${KAFKA_UI_IP}
    #----------------------------------------------------------------------------------------

networks:
    open_network:
        external: true
    internal_network:
        external: false
        internal: true
        driver: bridge
        ipam:
            config:
                - subnet: 10.0.0.0/16

volumes:
    zookeeper-7.6.0-v2_vol:
    kafka-7.6.0-v2_vol:
    schema-registry-7.6.0-v2_vol:
    #rest-proxy-7.6.0-v2_vol:
    #control-center-7.6.0-v2_vol:
    kafka-ui-0.7.2_vol_security:
